uvicorn[standard]==0.34.0
fastapi==0.115.6
pydantic>=2.10.0
SQLAlchemy==2.0.36
email-validator==2.2.0
PyJWT==2.10.1
pycryptodome==3.21.0
PyMySQL==1.1.1
loguru==0.7.3
gunicorn==23.0.0
httptools==0.6.4
paramiko==3.5.1
requests==2.32.3
gevent==24.11.1
alembic>=1.14.0
cryptography>=43.0.0
python-multipart>=0.0.18
Pillow>=10.0.0